<h1>Show My Itineraries</h1>

<% @itineraries.each do |itinerary| %>
<p>
<%= link_to itinerary.name_i, itinerary_path(itinerary) %> - 
<%= link_to "Edit", edit_itinerary_path(itinerary) %>

</p>

<% end %>

<br>

<%= link_to "Add new Itinerary", new_itinerary_path %>